body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: linear-gradient(135deg, #FF2D55, #0084FF);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table, th, td {
  border: 1px solid #white;
}
th, td {
  padding: 12px;
  text-align: left;
}
th {
  background-color: #white;
  color: white;
}
tr:nth-child(even) {
  background-color: #white;
}
.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
